/* FONTS */
@font-face {
  font-family: 'proxima_novamedium';
  src: url("../fonts/proximanova-medium-webfont.eot");
  src: url("../fonts/proximanova-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-medium-webfont.woff2") format("woff2"), url("../fonts/proximanova-medium-webfont.woff") format("woff"), url("../fonts/proximanova-medium-webfont.ttf") format("truetype"), url("../fonts/proximanova-medium-webfont.svg#proxima_novamedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novalight_it';
  src: url("../fonts/proximanova-lightit-webfont.eot");
  src: url("../fonts/proximanova-lightit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-lightit-webfont.woff2") format("woff2"), url("../fonts/proximanova-lightit-webfont.woff") format("woff"), url("../fonts/proximanova-lightit-webfont.ttf") format("truetype"), url("../fonts/proximanova-lightit-webfont.svg#proxima_novalight_it") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novaregular';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_novaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novaitalic';
  src: url("../fonts/proximanova-regularit-webfont.eot");
  src: url("../fonts/proximanova-regularit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regularit-webfont.woff2") format("woff2"), url("../fonts/proximanova-regularit-webfont.woff") format("woff"), url("../fonts/proximanova-regularit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regularit-webfont.svg#proxima_novaitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novablack';
  src: url("../fonts/proximanova-black-webfont.eot");
  src: url("../fonts/proximanova-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-black-webfont.woff2") format("woff2"), url("../fonts/proximanova-black-webfont.woff") format("woff"), url("../fonts/proximanova-black-webfont.ttf") format("truetype"), url("../fonts/proximanova-black-webfont.svg#proxima_novablack") format("svg");
  font-weight: normal;
  font-style: normal; }
/* BASE FONT SIZE */
body {
  font-size: 16px;
  margin: 0; }

/* FONT CLASSES */
.playfair_display {
  font-family: 'Playfair Display',serif; }

.proxima_medium {
  font-family: 'proxima_novamedium',sans-serif; }

.proxima_light_it {
  font-family: 'proxima_novalight_it',sans-serif; }

.proxima_regular {
  font-family: 'proxima_novaregular',sans-serif; }

.proxima_italic {
  font-family: 'proxima_novaitalic',sans-serif; }

.proxima_black {
  font-family: 'proxima_novablack',sans-serif; }

.font_1 {
  font-size: 4.5em; }

.font_2 {
  font-size: 3em; }

.font_3 {
  font-size: 2.25em; }

.font_4 {
  font-size: 1.5em; }

.font_5 {
  font-size: 1.125em; }

.font_6 {
  font-size: 0.875em; }

.text_caps {
  text-transform: capitalize; }

.text_upper {
  text-transform: uppercase; }

.text_dec_none {
  text-decoration: none; }

.text_dec_under {
  text-decoration: underline; }

.text_center {
  text-align: center; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

/* COLORS */
.white {
  color: #fff; }

.black {
  color: #000; }

.gray {
  color: #8d8d8d; }

.red {
  color: #ff4606; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-gray {
  background-color: #8d8d8d; }

.bg-red {
  background-color: #ff4606; }

/* DISPLAY && POSITION */
.block {
  display: block; }

.i-block {
  display: inline-block; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.none {
  display: none; }

.left-50 {
  left: 50%; }

.top-0 {
  top: 0; }

.top-two-thirds {
  top: 66%; }

/*

  FLEXBOX

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline; }

.self-stretch {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.justify-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.content-center {
  -ms-flex-line-pack: center;
  align-content: center; }

.content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0; }

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8; }

.order-last {
  -webkit-box-ordinal-group: 100000;
  -ms-flex-order: 99999;
  order: 99999; }

/* WIDTHS && HEIGHTS */
.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-80 {
  width: 80%; }

.w-75 {
  width: 75%; }

.w-70 {
  width: 70%; }

.w-two-thirds {
  width: 66%; }

.w-60 {
  width: 60%; }

.w-50 {
  width: 50%; }

.w-40 {
  width: 40%; }

.w-third {
  width: 33%; }

.w-30 {
  width: 30%; }

.w-25 {
  width: 25%; }

.w-20 {
  width: 20%; }

.w-10 {
  width: 10%; }

.h-100vh {
  height: 100vh; }

.h-100 {
  height: 100%; }

.h-90 {
  height: 90%; }

.h-80 {
  height: 80%; }

.h-75 {
  height: 75%; }

.h-70 {
  height: 70%; }

.h-two-thirds {
  height: 66%; }

.h-60 {
  height: 60%; }

.h-50 {
  height: 50%; }

.h-40 {
  height: 40%; }

.h-third {
  height: 34%; }

.h-30 {
  height: 30%; }

.h-25 {
  height: 25%; }

.h-20 {
  height: 20%; }

.h-10 {
  height: 10%; }

.h-1 {
  height: 1em; }

.h-2 {
  height: 2em; }

.h-3 {
  height: 3em; }

.h-4 {
  height: 4em; }

.h-5 {
  height: 5em; }

.h-6 {
  height: 5.5em; }

/* PADDING && MARGINS */
.pa0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

.pv0 {
  padding-top: 0;
  padding-bottom: 0; }

.ph0 {
  padding-left: 0;
  padding-right: 0; }

.pa1 {
  padding: .25em; }

.pt1 {
  padding-top: .25em; }

.pb1 {
  padding-bottom: .25em; }

.pl1 {
  padding-left: .25em; }

.pr1 {
  padding-right: .25em; }

.pv1 {
  padding-top: .25em;
  padding-bottom: .25em; }

.ph1 {
  padding-left: .25em;
  padding-right: .25em; }

.pa2 {
  padding: .5em; }

.pt2 {
  padding-top: .5em; }

.pb2 {
  padding-bottom: .5em; }

.pl2 {
  padding-left: .5em; }

.pr2 {
  padding-right: .5em; }

.pv2 {
  padding-top: .5em;
  padding-bottom: .5em; }

.ph2 {
  padding-left: .5em;
  padding-right: .5em; }

.pa3 {
  padding: 1em; }

.pt3 {
  padding-top: 1em; }

.pb3 {
  padding-bottom: 1em; }

.pl3 {
  padding-left: 1em; }

.pr3 {
  padding-right: 1em; }

.pv3 {
  padding-top: 1em;
  padding-bottom: 1em; }

.ph3 {
  padding-left: 1em;
  padding-right: 1em; }

.pa4 {
  padding: 2em; }

.pt4 {
  padding-top: 2em; }

.pb4 {
  padding-bottom: 2em; }

.pl4 {
  padding-left: 2em; }

.pr4 {
  padding-right: 2em; }

.pv4 {
  padding-top: 2em;
  padding-bottom: 2em; }

.ph4 {
  padding-left: 2em;
  padding-right: 2em; }

.pa5 {
  padding: 4em; }

.pt5 {
  padding-top: 4em; }

.pb5 {
  padding-bottom: 4em; }

.pl5 {
  padding-left: 4em; }

.pr5 {
  padding-right: 4em; }

.pv5 {
  padding-top: 4em;
  padding-bottom: 4em; }

.ph5 {
  padding-left: 4em;
  padding-right: 4em; }

.pa6 {
  padding: 8em; }

.pt6 {
  padding-top: 8em; }

.pb6 {
  padding-bottom: 8em; }

.pl6 {
  padding-left: 8em; }

.pr6 {
  padding-right: 8em; }

.pv6 {
  padding-top: 8em;
  padding-bottom: 8em; }

.ph6 {
  padding-left: 8em;
  padding-right: 8em; }

.pa7 {
  padding: 16em; }

.pt7 {
  padding-top: 16em; }

.pb7 {
  padding-bottom: 16em; }

.pl7 {
  padding-left: 16em; }

.pr7 {
  padding-right: 16em; }

.pv7 {
  padding-top: 16em;
  padding-bottom: 16em; }

.ph7 {
  padding-left: 16em;
  padding-right: 16em; }

.ma0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.mr0 {
  margin-right: 0; }

.mv0 {
  margin-top: 0;
  margin-bottom: 0; }

.mh0 {
  margin-left: 0;
  margin-right: 0; }

.ma1 {
  margin: .25em; }

.mt1 {
  margin-top: .25em; }

.mb1 {
  margin-bottom: .25em; }

.ml1 {
  margin-left: .25em; }

.mr1 {
  margin-right: .25em; }

.mv1 {
  margin-top: .25em;
  margin-bottom: .25em; }

.mh1 {
  margin-left: .25em;
  margin-right: .25em; }

.ma2 {
  margin: .5em; }

.mt2 {
  margin-top: .5em; }

.mb2 {
  margin-bottom: .5em; }

.ml2 {
  margin-left: .5em; }

.mr2 {
  margin-right: .5em; }

.mv2 {
  margin-top: .5em;
  margin-bottom: .5em; }

.mh2 {
  margin-left: .5em;
  margin-right: .5em; }

.ma3 {
  margin: 1em; }

.mt3 {
  margin-top: 1em; }

.mb3 {
  margin-bottom: 1em; }

.ml3 {
  margin-left: 1em; }

.mr3 {
  margin-right: 1em; }

.mv3 {
  margin-top: 1em;
  margin-bottom: 1em; }

.mh3 {
  margin-left: 1em;
  margin-right: 1em; }

.ma4 {
  margin: 2em; }

.mt4 {
  margin-top: 2em; }

.mb4 {
  margin-bottom: 2em; }

.ml4 {
  margin-left: 2em; }

.mr4 {
  margin-right: 2em; }

.mv4 {
  margin-top: 2em;
  margin-bottom: 2em; }

.mh4 {
  margin-left: 2em;
  margin-right: 2em; }

.ma5 {
  margin: 4em; }

.mt5 {
  margin-top: 4em; }

.mb5 {
  margin-bottom: 4em; }

.ml5 {
  margin-left: 4em; }

.mr5 {
  margin-right: 4em; }

.mv5 {
  margin-top: 4em;
  margin-bottom: 4em; }

.mh5 {
  margin-left: 4em;
  margin-right: 4em; }

.ma6 {
  margin: 8em; }

.mt6 {
  margin-top: 8em; }

.mb6 {
  margin-bottom: 8em; }

.ml6 {
  margin-left: 8em; }

.mr6 {
  margin-right: 8em; }

.mv6 {
  margin-top: 8em;
  margin-bottom: 8em; }

.mh6 {
  margin-left: 8em;
  margin-right: 8em; }

.ma7 {
  margin: 16em; }

.mt7 {
  margin-top: 16em; }

.mb7 {
  margin-bottom: 16em; }

.ml7 {
  margin-left: 16em; }

.mr7 {
  margin-right: 16em; }

.mv7 {
  margin-top: 16em;
  margin-bottom: 16em; }

.mh7 {
  margin-left: 16em;
  margin-right: 16em; }

/* BORDERS */
.b--none {
  border: none; }

.b--gray {
  border-color: #8d8d8d; }

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

/* LIST STYLE */
.list_none {
  list-style: none; }

/* BACKGROUND */
.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain !important; }

.bg-no-repeat {
  background-repeat: no-repeat; }

.bg-center {
  background-position: center center; }

/* HOVER */
.dim {
  opacity: 1;
  -webkit-transition: opacity .15s ease-in;
  -o-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in; }

.dim:hover,
.dim:focus {
  opacity: .5;
  -webkit-transition: opacity .15s ease-in;
  -o-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
  outline: none;
  cursor: pointer; }

/* OPACITY */
.o-100 {
  opacity: 1; }

.o-90 {
  opacity: .9; }

.o-80 {
  opacity: .8; }

.o-70 {
  opacity: .7; }

.o-60 {
  opacity: .6; }

.o-50 {
  opacity: .5; }

.o-40 {
  opacity: .4; }

.o-30 {
  opacity: .3; }

.o-20 {
  opacity: .2; }

.o-10 {
  opacity: .1; }

.o-05 {
  opacity: .05; }

.o-025 {
  opacity: .025; }

.o-0 {
  opacity: 0; }

.gradient {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#002f4b), to(#dc4225));
  background-image: -webkit-linear-gradient(top left, #002f4b, #dc4225);
  background-image: -o-linear-gradient(top left, #002f4b, #dc4225);
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225); }

/* Z-INDEX */
.z-100 {
  z-index: 100; }

/* IMAGES */
.prev_arrow::before {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "f104"; }

.next_arrow::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "f105"; }

.thumbs_up::before {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "f164"; }

.thumbs_up::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "f164"; }

.thumbs_down::before {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "f165"; }

.thumbs_down::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "f165"; }

/* SOCIAL SHARING LINKS */
.crunchify-link {
  padding: 4px 8px 6px 8px;
  font-size: 20px;
  border-radius: 2px;
  margin-right: 2px;
  cursor: pointer;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box; }

.crunchify-link:hover, .crunchify-link:active {
  color: #fff; }

.crunchify-twitter, .crunchify-facebook, .crunchify-googleplus, .crunchify-pinterest {
  color: #ff4606; }

.crunchify-twitter:hover, .crunchify-twitter:active, .crunchify-facebook:hover, .crunchify-facebook:active, .crunchify-googleplus:hover, .crunchify-googleplus:active, .crunchify-pinterest:hover, .crunchify-pinterest:active {
  background: #ff4606;
  color: #fff; }

.crunchify-social {
  margin: 0px 0px 25px 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px; }
  .crunchify-social h3 {
    font-size: 2.25em; }

a.crunchify-link:hover {
  text-decoration: none; }

/* NAV SPECIFIC */
#toggleNav:focus {
  outline: none; }

#nav {
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  transform: translateX(-1000px); }

.menu-main-menu-container {
  width: 100%; }
  .menu-main-menu-container #menu-main-menu {
    list-style: none;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu-main-menu-container #menu-main-menu li {
      padding: .5em; }
    .menu-main-menu-container #menu-main-menu a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: opacity .15s ease-in;
      -o-transition: opacity .15s ease-in;
      transition: opacity .15s ease-in; }
    .menu-main-menu-container #menu-main-menu a:hover, .menu-main-menu-container #menu-main-menu a:focus {
      opacity: .5;
      -webkit-transition: opacity .15s ease-in;
      -o-transition: opacity .15s ease-in;
      transition: opacity .15s ease-in;
      outline: none; }

#nav.open {
  display: block !important;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

/* SPECIFICS */
.grid-item {
  width: 336px; }

img.wp-post-image {
  width: 100%;
  height: auto; }

.post-categories {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 1em; }
  .post-categories li {
    padding-top: .25em; }
    .post-categories li a {
      color: #8d8d8d;
      font-family: 'proxima_novamedium', sans-serif;
      text-decoration: none;
      font-size: 1.125em;
      opacity: 1;
      -webkit-transition: opacity .15s ease-in;
      -o-transition: opacity .15s ease-in;
      transition: opacity .15s ease-in; }
    .post-categories li a:hover, .post-categories li a:focus {
      opacity: .5;
      -webkit-transition: opacity .15s ease-in;
      -o-transition: opacity .15s ease-in;
      transition: opacity .15s ease-in;
      outline: none;
      cursor: pointer; }

.single .post-categories li a {
  font-size: 1.5em; }

.alm-btn-wrap {
  text-align: center; }
  .alm-btn-wrap button {
    background-color: #ff4606;
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
    font-family: 'proxima_novamedium',sans-serif;
    border: none;
    opacity: 1;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    padding: 1em 1.5em;
    display: none; }
  .alm-btn-wrap button:hover {
    opacity: .5;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    outline: none;
    cursor: pointer; }

.single footer, .page footer {
  align-self: flex-end; }

@media (max-width: 1200px) {
  body {
    font-size: 14px; }

  .w-20 {
    width: 30%; } }
@media (max-width: 900px) {
  .w-20 {
    width: 40%; }

  .w-10 {
    width: 20%; }

  .single section.w-100, .page section.w-100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .single section.w-100 div.w-40, .page section.w-100 div.w-40 {
      width: 80%;
      display: block;
      position: relative; }
    .single section.w-100 div.w-50, .page section.w-100 div.w-50 {
      width: 100%;
      height: 50vh;
      display: block;
      position: relative;
      left: 0; } }
@media (max-width: 600px) {
  .w-20 {
    width: 70%; }

  .w-40 {
    width: 60%; }

  .flex-wrap-mobile {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  #toggleNav {
    padding: 20px;
    width: 100%; }
    #toggleNav img {
      display: none; }

  #nav div {
    width: 100% !important; }

  header h1 {
    width: 100% !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin: 15px 15px 0 15px !important;
    padding: 0 !important; }
  header div.z-100 {
    position: absolute;
    left: 80%;
    top: 15px;
    margin: 0 !important;
    padding: 0 !important;
    width: 15% !important; }
    header div.z-100 a {
      color: #fff !important; }

  article header h1 {
    margin: 0 !important; }

  body section:first-of-type div:first-of-type {
    width: 100%; }

  .single section.w-100 div.w-50, .page section.w-100 div.w-50 {
    margin-top: 30px; } }

/*# sourceMappingURL=main.css.map */
