/* ===============================================
   START HEADER
   =============================================== */

#header-wrapper{
	position:relative;
	z-index:9998;
	margin-bottom:50px;
	height:49px;
}

#header {
	top:0;
	position:fixed;
	text-align:center;
	padding:0;
	margin-bottom:50px;
	color:#fff ;
	width:100%;
	background-color:#363636;
	z-index:99997;
}

body.logged-in #header-wrapper #header {
	top:32px;
}

body.woocommerce-demo-store #header-wrapper #header {
	top:48px;
}

body.woocommerce-demo-store.logged-in #header-wrapper #header {
	top:80px;
}

body.customizer_active.logged-in #header-wrapper #header {
	top:0;
}

/* ===============================================
   LOGO
   =============================================== */

#logo {
	position:relative;
	text-align:center;
	margin-bottom:50px;
}

#logo a.logo {
	font-family:'Dr Sugiyama',Verdana, Geneva, sans-serif;
	font-size:60px;
	color:#333;
	text-decoration:none;
	text-align:left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	line-height:0.8em
}

#logo a.logo span {
	font-size:14px;
	display:block;
	text-align:center;
	margin:0;
	line-height:1.6em
}

#logo img {
	padding:5px 0;
}

#logo a:hover {
	text-decoration:none;
	color:#1abc9c;
	border-bottom:none;
}

/* ===============================================
   Woocommerce Header Cart
   ============================================= */

.header-cart {
	display:inline-block;
	position:relative;
	vertical-align:top
}

.header-cart a.cart-contents {
	text-decoration:none;
	display:block;
	margin:0;
	z-index:1000;
	color:#fff;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	text-transform:uppercase;
	font-weight:400;
	position:relative;
	padding:14px 14px 15px 14px;
}

.header-cart a.cart-contents:hover ,
.header-cart a.cart-contents.active {
    background: #262626;
}

.header-cart a.cart-contents i {
	font-size:15px
}

.header-cart a.cart-contents span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #262626;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -10px;
}

.header-cart .widget_shopping_cart li.empty {
	padding:0 !important;
	border:none;
	text-transform:none
}

body.woocommerce-cart .header-cart-widget,
body.woocommerce-checkout .header-cart-widget {
	border:none;
}

body.woocommerce-cart .header-cart-widget:before,
body.woocommerce-checkout .header-cart-widget:before {
	display:none;
	visibility:hidden;
}

.header-cart-widget {
	display:none;
	position: absolute;
	top:49px;
	right:0;
	width:300px;
	z-index:1001;
}

.header-cart-widget,
body.minimal_layout .header-cart-widget {
    background-color: #262626 !important;
}

.header-cart-widget p ,
.header-cart-widget span,
.header-cart-widget li,
.header-cart-widget a ,
.header-cart-widget a:hover {
	color:#fff
}

.header-cart-widget .widget_shopping_cart {
	padding:15px;
	text-align:center;
	width:100%;
}

.header-cart-widget .widget_shopping_cart a {
	text-transform:none;
}

.woocommerce ul.cart_list li dl.variation {
	display:none;
	visibility:hidden;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
    width: 50%;
}

.header-cart-widget .woocommerce a.remove {
    width: 25px;
    height: 25px;
    color: #fff !important;
    background: #262626;
}

.header-cart-widget .woocommerce a.remove:hover {
    color: red !important;
    background: none;
}

.header-cart-widget  .widget_shopping_cart li,
.header-cart-widget  .product_list_widget li  ,
body.minimal_layout .header-cart-widget  .widget_shopping_cart li,
body.minimal_layout .header-cart-widget  .product_list_widget li  {
    border-bottom: solid 1px #363636;
}

.header-cart-widget .woocommerce.widget_shopping_cart a.button {
	margin:20px 0;
}

.header-cart-widget .widget_shopping_cart a.button {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

@media screen and (min-width : 992px) {

	/* ===============================================
	   MAIN MENU
	   =============================================== */

	.suevafree-menu {
		display:inline-block;
		position:relative;
		padding:0;
	}
	.suevafree-menu ul {
		list-style:none;
		margin:0;
		display:block;
		width:100%;
		border:none;
		text-align:center;
	}
	.suevafree-menu ul li {
		position:relative;
		display:inline-block;
		padding:0 0 7px 0;
		margin-bottom:-7px;
		text-align:center;
		line-height: 1.8em;
	}
	.suevafree-menu ul li a   {
		text-decoration:none;
		display:block;
		z-index:1;
		padding:12px 24px;
		margin:0 -5px 0 0;
		color: #fff;
		-webkit-transition: all .1s linear; 
		-moz-transition: all .1s linear;
		-o-transition: all .1s linear;
		position:relative;
	}
	.suevafree-menu ul li a:hover,
	.suevafree-menu li:hover > a,
	.suevafree-menu ul li.current-menu-item > a,
	.suevafree-menu ul li.current_page_item > a,
	.suevafree-menu ul li.current-menu-parent > a,
	.suevafree-menu ul li.current_page_ancestor > a,
	.suevafree-menu ul li.current-menu-ancestor > a {
		background:#262626;
	}

	.suevafree-menu .sf-sub-indicator {
		padding:0 0 0 10px;
		float:right;
		font-size:8px;
	}

	.suevafree-menu ul ul {
		display:none;
		position: absolute;
		top:49px;
		left:0;
		width:100%;
		min-width:190px;
		z-index:1001;
		margin:0;
		padding:0;
		background:#262626;
		margin-top:-7px;
	}

	.suevafree-menu ul ul li {
		position:relative;
		margin:0;
		width:100%;
		min-width:190px;
		padding:0;
		line-height:1.2em;
	}

	.suevafree-menu ul ul li a {
		text-decoration:none;
		text-align:left;
		display:block;
		padding:14px 14px 0 14px;
		margin:0;
		text-transform:inherit;
		text-shadow:inherit;
		font-weight:300;
		font-size:12px;
		color:#fff;
	}

	.suevafree-menu ul ul li:last-of-type a {
		padding:14px;
	}

	.suevafree-menu ul ul li a:hover,
	.suevafree-menu ul ul li a:hover,
	.suevafree-menu ul ul li.current-menu-item > a,
	.suevafree-menu ul ul li.current_page_item > a,
	.suevafree-menu ul ul li.current_page_ancestor > a,
	.suevafree-menu ul ul li.current_page_ancestor > a,
	.suevafree-menu ul ul li.current-menu-ancestor > a {
		color:#d14a2b;
		background:none !important
	}

	.suevafree-menu ul ul li ul {
		top:0px !important;
		left:190px;
		border-top:solid 1px #474747;
	}

	.suevafree-menu ul ul li ul:before {
		display:none;
	}

}

@media screen and (max-width : 992px) {

	/* ===============================================
	   MOBILE MENU
	   =============================================== */

	.suevafree-mobile-menu {
		display:block ;
		position:relative;
		padding:0;
		width:100%;
	}

	.suevafree-mobile-menu ul {
		list-style:none;
		margin:0;
		display:block;
		width:100%;
		border:none;
		text-align:left;
	}

	.suevafree-mobile-menu ul li {
		position:relative;
		display:block;
		padding:0 !important;
		text-align:left;
		float:none;
	}

	.suevafree-mobile-menu ul li:last-of-type {
		border-bottom:none;
	}

	.suevafree-mobile-menu ul li:after {
		display:none;
		visibility:hidden;
	}

	.suevafree-mobile-menu ul li a {
		text-decoration:none;
		display:block;
		z-index:1;
		padding:6px 0;
		font-size:16px;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-o-transition: all .1s linear;
		position:relative;
		cursor:pointer;
		line-height:1.8em;
		color:#fff;
	}

	.suevafree-mobile-menu .sub-menu,
	.suevafree-mobile-menu .children {
		display:none;
		margin:0 !important;
		z-index:9999;
		padding:15px 0;
	}

	.suevafree-mobile-menu li li a,
	.suevafree-mobile-menu li li li a {
		text-decoration:none;
		border-top:none;
		font-size:12px
	}

	.suevafree-mobile-menu .sf-sub-indicator {
		right:10px;
		font-size: 8px;
		position:absolute;
	}

}

/* ===============================================
   SCROLL SIDEBAR
   =============================================== */

.mobile-navigation {
	padding:14px 0;
	position:relative;
	cursor:pointer;
	float:left;
	display:none;
	visibility:hidden;
}

.mobile-menu-open i {
	color:#616161;
}

.mobilemenu-box {
	padding:0 50px 50px 50px;
	position:relative;
}

#mobile-wrapper {
 	left: 0;
 	top: 0;
 	bottom: 0;
 	height: 100%;
 	position: fixed;
	z-index:999999;
}

body.logged-in #mobile-wrapper #mobile-scroll {
	top:32px;
}

#mobile-wrapper #mobile-scroll,
body.logged-in.customizer_active #mobile-wrapper #mobile-scroll {
	left:-300px;
	width:300px;
	overflow:hidden;
	background:#2D3032;
	position:fixed;
	display:block;
	height:100%;
	padding:25px 0;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	top:0;
}

body.overlay-active #wrapper {
	margin-right:8px;
}

body.overlay-active #header {
	padding-right:8px;
}

body.overlay-active #mobile-wrapper #mobile-scroll ,
body.logged-in.customizer_active.overlay-active #mobile-wrapper #mobile-scroll {
	left:0;
}

#mobile-wrapper #mobile-scroll .mobile-navigation {
	text-align:left;
	float:none;
}

#mobile-wrapper #mobile-scroll .mobile-navigation i {
	color:#fff;
}

#overlay-body {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	visibility:hidden;
	display:none;
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor:pointer;
	overflow: hidden;
	z-index:9999
}

#overlay-body.visible {
	visibility:visible;
	display:block;
}

body.page-template-template-one-page #overlay-body.visible {
    visibility: hidden;
	display: none;
}

body.overlay-active.page-template-template-one-page #wrapper {
	margin-right:0;
}

@media screen and (min-width : 0px) and (max-width : 992px)  {

	#header {
		padding:25px 0;
	}

	#logo {
		text-align: center;
	}

	body.logged-in #header-wrapper #header ,
	#header-wrapper #header {
		position:relative;
		top:0;
	}

	.mobile-navigation {
		display: block;
		visibility: visible;
		width: 100%;
		text-align: center;
		float: none;
	}

	body.scroll_header #header-wrapper {
		position:relative;
		height:auto;
		margin-bottom: inherit;
	}

	body.scroll_header #header-wrapper .right {
		padding-left: inherit;
	}

	body.scroll_header.logged-in #header {
		top: inherit;
	}

	body.scroll_header .content,
	body.scroll_header .masonry-container,
	body.scroll_header #header_sidebar,
	body.scroll_header.single .product-wrapper,
	body.scroll_header .products-list{
		margin-top:0;
	}

	body.scroll_header #header {
		position:relative;
		background:none;
		top: inherit;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}

	body.scroll_header #top_sidebar ,
	body.scroll_header #onepage_sidebar {
		margin-top:0;
	}

	#logo {
		padding: 0;
	}

	.suevafree-general-menu {
		height:inherit;
	}

	.header-cart,
	.suevafree-general-menu ul {
		visibility:hidden;
		display:none !important;
	}

	.suevafree-mobile-menu {
		margin-bottom:50px;
	}

}
