@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@font-face {
    font-family: 'proxima_novamedium';
    src: url('../fonts/proximanova-medium-webfont.eot');
    src: url('../fonts/proximanova-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-medium-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-medium-webfont.woff') format('woff'),
         url('../fonts/proximanova-medium-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-medium-webfont.svg#proxima_novamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight_it';
    src: url('../fonts/proximanova-lightit-webfont.eot');
    src: url('../fonts/proximanova-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-lightit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-lightit-webfont.woff') format('woff'),
         url('../fonts/proximanova-lightit-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-lightit-webfont.svg#proxima_novalight_it') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novaitalic';
    src: url('../fonts/proximanova-regularit-webfont.eot');
    src: url('../fonts/proximanova-regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regularit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regularit-webfont.woff') format('woff'),
         url('../fonts/proximanova-regularit-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regularit-webfont.svg#proxima_novaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proximanova-black-webfont.eot');
    src: url('../fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-black-webfont.woff') format('woff'),
         url('../fonts/proximanova-black-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'proxima_novaregular', sans-serif;
	background-color: #fff;
	color: #000;
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6, h1.title a, h2.title a, h3.title a, h4.title a, h5.title a, h6.title a
{
	font-family: 'Playfair Display', serif;
	color: #000;
}
h3.title a {
	font-size: 2.66em;
	color: #000;
}
.post-article {padding:0;}
.post-article a:hover {color:#ff4606;}
.entry-category, .entry-date {
	font-family: 'proxima_novamedium', sans-serif;
	font-size: 1em;
	color:#000;
}
.suevafree-menu ul li a,.suevafree-menu ul li a, .suevafree-mobile-menu ul li a,.suevafree-menu ul li.current-menu-item > a, .suevafree-menu ul li.current_page_item > a, #header a:hover, .suevafree-menu ul li a:hover, .suevafree-menu li:hover > a, .suevafree-menu ul li.current-menu-item > a, .suevafree-menu ul li.current_page_item > a {
	font-family: 'proxima_novamedium', sans-serif;
	font-size: 1em;
	color: #fff;
	background-color: #ff4606;
	text-transform:none;
}
#header {
	background-color: #fff;
	text-align: left;
}
div#logo,.read-more {display: none;}

/* SOCIAL SHARING LINKS */
.crunchify-social {
}
.crunchify-link {
    padding: 4px 8px 6px 8px;
    font-size: 20px;
    border-radius: 2px;
    margin-right: 2px;
    cursor: pointer;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
}
.crunchify-link:hover,.crunchify-link:active {
    color: #fff;
}
.crunchify-twitter,.crunchify-facebook,.crunchify-googleplus,.crunchify-pinterest {
    color: #ff4606;
}
.crunchify-twitter:hover,.crunchify-twitter:active,.crunchify-facebook:hover,.crunchify-facebook:active,.crunchify-googleplus:hover,.crunchify-googleplus:active,.crunchify-pinterest:hover,.crunchify-pinterest:active {
    background: #ff4606;
		color:#fff;
}
.crunchify-social {
    margin: 0px 0px 25px 0px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}
a.crunchify-link:hover {
    text-decoration: none;
}

/* SINGLE POST */
.single #header-wrapper, .single #header { margin-bottom:0px;}
.single .container.content {width:100%;
	padding:0px;
}
@media (min-width: 500px) {
  .col-sm-6 {
    width: 50%;
  }
}
.photo-side {
	height:100%;
	position: fixed;
	left: 50%;
	top:0;
}
.text-side {padding:25px;}
.split-pane {
  padding-top: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (max-width: 600px) {
	#header {padding:0;}
	.photo-side {
		position: relative;
		left: 0;
		width: 100%;
		height: 300px;
		}
	.text-side{
		width: 100%;
		padding: 25px;
	}
}
